body {
    background-color: rgba(224, 60, 137, 0.877);
    font-family: arial;
}

h1 {
    text-align: center;
}

#edit {
    margin: 30px auto;
    width: 506px;
    box-shadow:0px 0px 4px 1px black;
    width: 40%;
}

p {
    background-color: rgba(226, 77, 147, 0.897);
    margin: 0;
    font-weight: bold;
    height: 1.2rem;
    border: 1px solid black;
    z-index: -1;
}

textarea {
    font-family: inherit;
    max-width: 99%;
    min-width: 99%;
    background-color: rgba(221, 139, 177, 0.511);
}

#preview {
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    height: 250px;
    box-shadow:0px 0px 4px 1px black;
    background-color: rgba(221, 139, 177, 0.511);
}